<!DOCTYPE html>
<html lang = "en">

<head>
  <!-- Required Meta Tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700" rel="stylesheet">
  <!-- BOOTSTRAP -->
  <link rel ="stylesheet" type= "text/css" href= "css/main.css">

  
  <title>Whitney Bowden's Resume Website</title>

</head>

<body>
    <header class="wb-header">
      <nav class="wb-nav">
        <div class="d-flex justify-content-end">
          <ul>
              <li><a href="#about">About</a></li>
              <li><a href="#experience">Experience</a></li>
              <li><a href="#education">Education</a></li>
              <li><a href="#resume">Resume</a></li>
              <li><a href="#blog">Journal</a></li>
              <li><a href="#contact">Contact Me</a></li>
          </ul>
        </div>
      </nav>
        <div class="jumbotron jumbotron-fluid">
            <div class="container text-light">
              <h1 class="display-4">Hi, I'm Whitney.</h1>
              <p class="lead">I'm learning to code.</p>
              <button type="button" class="btn btn-secondary"><a href="#about">My Journey</a></button>
              <button type="button" class="btn btn-outline-secondary">My Resume</button>
            </div>
          </div>
    </header>

    <section class="about" id="about">
        <div class="container">
            <div class="row">
              <div class="col-sm-3 about-title">
                <h1>About Me</h1>
              </div>
              <div class="col-sm-9 about-p">
                  <p> After learning the entire soundtrack to Annie at the age of 4, my parents handed me the easiest 
                    instrument a frequently moving 5 year old could cart around: a flute. Playing the flute was pretty 
                    much my life’s focus for the next 20 years. I practiced the flute. A lot. After college graduation, 
                    I practiced more, but I also got a 9-5 job to pay the bills. Still played my flute and taught lessons 
                    to some great kids (and adults). Worked a little more. Practiced a little less. Got promoted at work. 
                    Grew an interest in tech. Quit my job to learn to code. Built this website from scratch. Itching to 
                    learn more and make a career change into software development. </p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm about-li">
                  <i class="ion-ios-heart-outline icon-big"></i>
                  <ul>
                      <h2>What I love</h2>
                      <li>My precocious 4 year old daughter and wonderfully patient husband.</li>
                      <li>Playing Music. Listening to Music. Experiencing Music.</li>
                      <li>Reading. Mostly fiction.</li>
                      <li>Running, Swimming, Biking.</li>
                      <li>Learning new stuff, like coding!</li>
                    </ul>
              </div>
              <div class="col-sm about-li">
                  <i class="ion-ios-infinite-outline icon-big"></i>
                  <ul>
                      <h2>What I value</h2>
                      <li>Trust</li>
                      <li>Collaboration</li>
                      <li>Challenging &amp; Meaningful Work</li>
                      <li>Mentorship</li>
                      <li>Continued Learning</li>
                      <li>Creative Outlets</li>
                      <li>Consistency</li>
                    </ul>
              </div>
              <div class="col-sm about-li">
                <i class="ion-ios-lightbulb-outline icon-big"></i>
                  <ul>
                      <h2>How I work</h2>
                      <li>Intensely</li>
                      <li>Purposefully</li>
                      <li>Collaboratively</li>
                      <li>Through lessons learned</li>
                      <li>Logically</li>
                      <li>With an understanding of "The Big Picture"</li>
                    </ul>
              </div>
            </div>
          </div>
    </section>

    <script src="js/jquery.js"></script>
    <script src="js/popper.js" ></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/main.js"></script>
  
</body>

</html>