<!DOCTYPE html>
<html lang = "en">

<head>
  <!-- Required Meta Tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700" rel="stylesheet">
  <!-- BOOTSTRAP -->
  <link rel ="stylesheet" type= "text/css" href= "css/main.css">

  
  <title>Whitney Bowden's Resume Website</title>

</head>

<body>
    <header class="wb-header">
      <nav class="wb-nav">
        <div class="d-flex justify-content-end">
          <ul>
              <li><a href="#about">About</a></li>
              <li><a href="#experience">Experience</a></li>
              <li><a href="#education">Education</a></li>
              <li><a href="#resume">Resume</a></li>
              <li><a href="#blog">Journal</a></li>
              <li><a href="#contact">Contact Me</a></li>
          </ul>
        </div>
      </nav>
        <div class="jumbotron jumbotron-fluid">
            <div class="container text-light">
              <h1 class="display-4">Hi, I'm Whitney.</h1>
              <p class="lead">I'm learning to code.</p>
              <button type="button" class="btn btn-secondary">My Journey</button>
              <button type="button" class="btn btn-outline-secondary">My Resume</button>
            </div>
          </div>
    </header>

 

    <script src="js/jquery.js"></script>
    <script src="js/popper.js" ></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/main.js"></script>
  
</body>

</html>