// Ionicon overrides
$ionicons-font-path: "../assets/fonts";
// Bootstrap overrides
$primary: black;
$secondary:#EBC11A;
$success: #d05b5b;
$font-family-base: 'Nanum Gothic', sans-serif;
$btn-border-radius: 0;
$blog-body-color: rgb(214, 130, 137);

// Ionicons
@import "ionicons/ionicons.scss";

// Include parts of Bootstrap

// Required Bootstrap
@import "node_modules/bootstrap/scss/functions"; 
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/tooltip";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/jumbotron";
@import "node_modules/bootstrap/scss/media";


/* Main Header */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/whitneyInNewOrleans.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

/* Main Navi */
.wb-nav {
  padding: 20px 30px;

  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; 
  }

  li {
    display: inline-block;
    padding: 20px;
    
    a {
      
      &:link,
      &:visited {
        color: $light;
        font-weight: 100;
        padding: 8px 0;
        text-decoration: none;
        font-size: 120%;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.2s;
      }

      &:hover, 
      &:focus {
          border-bottom: 2px solid $secondary;
      }
    }
  }

}

.wb-header {
  .jumbotron {
    background-color: transparent;
  
    .btn-outline-secondary {
      margin-left: 20px;
      
      // a {
      //   color: $secondary; 
      // }

      // a:hover {
      //   color: black;
      // }
    }

    .lead {
      font-size: 150%;
    }
  
  }
}

/* About Me Section */
.about {
  background-color: #fdfdfd;
  padding-top: 90px;
  padding-bottom: 130px;

    .about-title {
      margin-top: 50px;
    }

    .about-p {
      position: center;
      line-height: 1.6;
      text-align: justify;
    }

    .row:first-child {
      margin-bottom: 70px;
      
    }

    .about-li {
      // padding-top: 90px;

      li {
        list-style-type: none;
        line-height: 1.6;
      }
    }

    /*------- ICONS ------*/
  .icon-big {
    font-size: 350%;
    display: block;
    color: $success;
    margin-bottom: 10px;
    margin-left: 40px;
  }
}

/*Experience Section*/

.experience {
  background-image: url("../assets/images/yellow_Img.jpg");
  background: 0.6;
  background-size: cover;
  background-attachment: fixed;
  background-position: right top;
  min-height: 350px;
  padding-bottom: 100px;
  
  h1 {
    text-align: center;
    font-size: 300%;
    padding-top: 80px;
    text-transform: uppercase;
    margin-bottom: 40px;    
  }

  h3 {
    border-bottom: 1px solid $success;
    position: center;
  }
   .long-copy {
     margin-left: 27%;
     margin-bottom: 4%;
   }
   
   .edu-col li {
     list-style-type: none;
     border-bottom: 1px solid $success;
     padding-bottom: 3px;
     padding-top: 5px;
   }

}

/* Blog Section */
.log-body {
  background: $blog-body-color;

 footer {
   color: $blog-body-color;
 }

 .log-content {
   display: flex;
   flex-direction: column-reverse;
 }

  .media-body {
    max-width: 700px;
    width: 80%;
    margin: 20px auto;
  }

  .entry-title {
    font-size: 2.0rem;
    padding: 10px 0 15px 0;
    color: $light;
  }

  .entry-date {
    font-size: 20px;
    letter-spacing: 0.2rem;
    margin-bottom: 15px;
  }

}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* Footer Section */

footer {
  background: linear-gradient($success, $primary);
  padding-top: 45px;
  font-size: 80%;
  min-height: 200px;

  .container {
    color: #fdfdfd;
    
    .footer-btns{
      text-align: right;
    }

    .footer-links {
      float: center;

      .ion-social-linkedin-outline {
        transition: color 0.2s;
      }
      
      .ion-social-github {
        transition: color 0.2x;
      }

      .ion-social-linkedin:hover {
        color: #0077b5;
      }

      .ion-social-github:hover {
        color:#333;
      }

      ul.social-links {
        padding: 0;
        list-style-type: none;

        li {
        display: inline-block;
        margin-right: 25px;

          a {
            font-size: 200%;
            position: center;
            margin-top: 25px;
          }

        }
      }
    }
  }
  .copyright {
      text-align: center;  

    p {
      font-size: 10px;
    }  
      
  }
}