// Ionicon overrides
$ionicons-font-path: "../assets/fonts";
// Bootstrap overrides
$primary: black;
$secondary: rgb(223, 202, 14);
$success: #d05b5b;
$font-family-base: 'Nanum Gothic', sans-serif;
$btn-border-radius: 0;

// Ionicons
@import "ionicons/ionicons.scss";

// Include parts of Bootstrap

// Required Bootstrap
@import "node_modules/bootstrap/scss/functions"; 
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/tooltip";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/jumbotron";

/* Main Header */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/whitneyInNewOrleans.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

/* Main Navi */
.wb-nav {
  padding: 20px 30px;

  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; 
  }

  li {
    display: inline-block;
    padding: 20px;
    
    a {
      
      &:link,
      &:visited {
        color: $light;
        font-weight: 100;
        padding: 8px 0;
        text-decoration: none;
        font-size: 120%;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.2s;
      }

      &:hover, 
      &:focus {
          border-bottom: 2px solid $secondary;
      }
    }
  }

}

.wb-header {
  .jumbotron {
    background-color: transparent;
  
    .btn-outline-secondary {
      margin-left: 20px; 
    }

    .lead {
      font-size: 150%;
    }
  
  }
}

/* About Me Section */
.about {
  background-color: #d0c0c0;
  padding-top: 90px;
  padding-bottom: 130px;

    .about-title {
      margin-top: 50px;
    }

    .about-p {
      position: center;
      line-height: 1.6;
    }

    .row:first-child {
      margin-bottom: 70px;
      
    }

    .about-li {
      // padding-top: 90px;

      li {
        list-style-type: none;
        line-height: 1.6;
      }
    }

    /*------- ICONS ------*/
  .icon-big {
    font-size: 350%;
    display: block;
    color: $success;
    margin-bottom: 10px;
    margin-left: 40px;
}
}
